.DS_Store
tests/__pycache__/__init__.cpython-311.pyc
tests/__pycache__/test_accent.cpython-311-pytest-8.3.5.pyc
tests/__pycache__/test_accent.cpython-311.pyc
tests/__pycache__/test_compatibility.cpython-311-pytest-8.3.5.pyc
tests/__pycache__/test_compatibility.cpython-311.pyc
